*{
margin: 0;    
padding: 0;  
} 

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}
 body{
background-color: white;
color:black;
margin: 5px;;

 }

.encabezado{
background-color: rgb(71, 71, 204);
color: white;
padding: 30px;
display: flex;
align-items: center;
gap: 20px;
}
 

.Foto-De-Perfil{
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
background-color:#ccc;
}



.contenedor_2_columnas{
display:flex;
justify-content: space-between;
margin: 40px auto;
padding: 0 20px;
gap: 50px;
}

.columna_izquierda{
flex: 1;
max-width: 55%;
}

.columna_derecha{
flex: 1;
max-width: 35%;
}
section{
margin-bottom: 30 px;
}
 h2{
text-align: left;
margin-bottom: 10px;
border-bottom: 2px solid #2b6cb0;
padding-bottom: 5px;
 }

p{
line-height: 1.6;
text-align: left;

}
.btn-contacto{
background-color:white;
color: #0056b3;
padding: 6px 12px;
border: 2px solid #0056b3;
font-size: 14px;
font-weight: 600;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s ease;
margin-bottom: 10px;

}

.btn-contacto:hover{
 background-color: #0056b3;
 color: white;
}

.oculto{
    display: none !important;

}

.enlace-directo{
    color: black;
    text-decoration: none;
}
.enlace-directo:hover{
text-decoration: underline;
color: #333333;
}

.carta-de-presentacion-contenedor{
    margin-top: 15px;
}
.item-carta{
    margin-bottom: 12px;
}

h2,h3{
    color: #0056b3;
    margin-bottom: 10px;
}

.Foto-De-Perfil{
    border: 4px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.oculto{
    display: none;
}

.btn-sobre-mi{
    background-color:white;
color: #0056b3;
padding: 6px 12px;
border: 2px solid #0056b3;
font-size: 14px;
font-weight: 600;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s ease;
margin-bottom: 10px;

}
.btn-sobre-mi:hover{
 background-color: #0056b3;
 color: white;
}
.link-instagram {
    color: black;
    text-decoration: none;
}

.instagram-link{
    color: black;
    text-decoration: none;
    
}
li:has(.link-instagram){
    list-style: none;
}
li:has(.instagram-link){
    list-style: none;
}